Flask==3.0.3
flask-openapi3[swagger]==4.0.3
MarkupSafe==2.1.5
Werkzeug==3.0.6
Flask-JWT-Extended==4.6.0
PyJWT==2.9.0
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
Flask-Cors==5.0.0
SQLAlchemy==2.0.30
pydantic[email]==2.7.3
python-dotenv==1.0.1
psycopg2-binary==2.9.9
rq==1.16.2
redis==5.0.5
GeoAlchemy2[shapely]==0.15.1